@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Lato:wght@300&display=swap');

:root{
    --main-bg-color: #2874f0;
}

*{
    padding: 0;
    margin: 0;
}

header{
    background: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
}
nav{
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 88px;
    padding: 0 25px;
}
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

nav ul li{
    list-style: none;
    padding: 0 23px;
}

nav ul li a{
    color: white;
    text-decoration: dashed; 
}

nav ul li a:hover{
    color: rgb(0, 0, 0);
    text-decoration: dashed; 
    font-weight: bold;
}
.search{
    display: flex;
    align-items: center;
}

.search input{
    width: 30vw;
    height: 27px;
    border-radius: 5px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}

.search button{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
.slider{
    overflow: hidden;    /*for responsive*/
    width: 80vw;
    margin: 12px auto;
}
.container{
    min-height: calc(100vh - 58px - 5vh);
}

.card{
    max-width: 92vw;
    margin: 37px auto;
    font-family: 'Lato', sans-serif;
}

.card h2{
    font-family: 'Lato', sans-serif;
}

.card-item{
    
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: 12vw;
    margin: 0 15px;
}
.cards{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
footer{
    height: 5vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
}